.page-background {
  min-height: 100vh;
  background-color: rgb(28, 28, 34);
  background-image: radial-gradient(circle, #888 0.1px, transparent 1px);
  background-size: 25px 25px;
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}
